<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-mini-fab aria-label="Admin Section" (click)="toggleSideMenu()" *ngIf="user.id && user.admin">
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Charger {{title}}</span>
    <span class="spacer"></span>
    <p class="user" *ngIf="user.id">Hello, {{user.name}}.</p>
    <ng-template #there>There</ng-template>
    <button mat-icon-button (click)="goto('home')" class="logged" *ngIf="user.id && user.admin">
      <mat-icon>view_cozy</mat-icon>
    </button>
    <button mat-icon-button (click)="goto('logout')" class="logged" *ngIf="user.id">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer #drawer class="sidenav" [class]="route == '/login' ? 'white' : 'dark'" mode="side">
  <button mat-mini-fab color="dark" type="button" (click)="toggleSideMenu()" class="close">
    <span class="material-icons">
      close
    </span>
  </button>
  <div mat-header>Admin Menu</div>
  <mat-action-list>
    <button mat-list-item *ngFor="let item of adminMenu" (click)="goto(item.goto)" [disabled]="item.disabled">
      <mat-icon matListIcon>{{item.icon}}</mat-icon>
      <h3 matLine> {{item.title}} </h3>
      <p matLine>
        <span> {{item.subject}} </span>
        <span *ngIf="item.description"> :: {{item.description | json}} </span>
      </p>
    </button>
  </mat-action-list>
</mat-drawer>
<mat-drawer-container autosize></mat-drawer-container>
<div class="spinner_container" *ngIf="spinnerIsVissible">
  <mat-spinner></mat-spinner>
</div>
<router-outlet></router-outlet>
