@import '../assets/scss_src/variables';

.spacer {
  flex: 1 1 auto;
}
.sideMenuContainer {
  width: vh100px;
  height: auto;
  background-color: gray;
}
.mat-drawer{
  overflow: visible;
  background: rgba(255,255,255,0.9);
}
.sidenav {
  min-width: 500px;
  height: calc(100% - 90px);
  margin: 63px 0 0 0;
  padding: 20px 20px 0 20px;
  border-width: 1px 1px 1px 0;
  border-radius: 0 10px 10px 0;

  &.white{
    border:solid 1px white;
    box-shadow: 1px 1px 20px -1px rgba(255,255,255,1);
    -webkit-box-shadow: 1px 1px 20px -1px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 20px -1px rgba(255,255,255,1);
  }
  &.dark{
    border:solid 1px $other-medium-gray;
    box-shadow: 1px 1px 20px -1px $other-medium-gray;
    -webkit-box-shadow: 1px 1px 20px -1px $other-medium-gray;
    -moz-box-shadow: 1px 1px 20px -1px $other-medium-gray;

    button{
      &.mat-list-item{
        &:hover{
          background: rgba($other-medium-gray, 0.3);
        }
      }
    }
  }

  button{
    &.close{
      position: absolute;
      top: -10px;
      right: -10px;
    }
    &.mat-list-item{
      border:solid 1px gray;
      border-width: 0 0 1px 0;

      &:hover{
        background: white;
      }
    }
  }
}
p{
  &.user{
    position: relative;
    right: 15px;
    display: inline-flex;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin: 0; padding: 0;

    span{
      padding: 0 0 0 10px;
    }

    .mat-icon{
      &.logged{
        position: absolute;
        top: 5px;
        right: -32px;
        display: inline-flex;
        vertical-align: middle;
        color: white;
      }
    }
  }
}
.user{
  .name{
    margin: solid 1px red;
  }

  .mat-icon{
    &.logged{
      position: absolute;
      top: 5px;
      right: -32px;
      display: inline-flex;
      vertical-align: middle;
      color: white;
    }
  }
}
.spinner_container{
  border-radius: 10px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 40px;
  position: absolute;
  z-index: 5;
  background:rgba(rgb(50, 54, 50), 0.5);
  border-radius: 10px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 40px;
  position: absolute;
  z-index: 5;
  border: solid 1px $other-medium-gray;
  box-shadow: 0 0 8px 3px rgba(12, 50, 87, 0.5);
  backdrop-filter: blur(6px);

  .mat-spinner{
    top: calc(50% - 50px);
    // margin-top: calc(50% - 50px);
    margin-left: calc(50% - 50px);
    overflow: visible;

    &:after {
      content: "Loading... please wait!";
      display: block;
      position: absolute;
      top: 120px;
      width: 200px;
      left: -50px;
      text-align: center;
      color: white;

    }
  }
}
.spinner_container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}
