@import './assets/custom-theme.scss';
@import './assets/scss_src/variables';
@import './assets/scss_src/mixins';
@import './assets/scss_src/cards';
@import './assets/scss_src/images';
@import './assets/scss_src/typography';

html, body { height: 100%; overflow: hidden; }

.align{
  &-left{
    justify-content: flex-start;
  }
  &-center{
    justify-content: center;
  }
  &-right{
    justify-content: flex-end;
  }
}

.center{
  margin: 0 auto !important;
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}
